<nav class="navbar navbar-expand-sm navbar-light fixed-top mb-5 shadow-sm">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <a class="navbar-brand"><strong>{{site.data.profile.navbar_name}}</strong></a>
        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                <li class="nav-item {% if item.name == page.navbar_title or include.active_page == item.name %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
                {% if site.data.profile.gscholar %}
                {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                {%- assign gscholar_url = site.data.profile.gscholar -%}
                {%- else -%}
                {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                {%- endif -%}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="{{ gscholar_url }}" title="Google Scholar" aria-label="Google Scholar">
                        <i class="ai ai-google-scholar-square"></i><span class="d-sm-none"> Google Scholar</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
